div{
  width:350px;
  
}
body{

p2 {
  text-decoration: underline;
}

p3{
  
  background-color:#FFA500;
  padding 0 6px;

}

p5 {
  color: red;
  font-weight: bold;
}
p7 {
  color: red;
  font-weight: bold;
}

p9 {
  text-decoration: underline;
}

}